@(sessionText: String, cookieName:String, cookieValue:String, sendMail:Boolean, form1: play.data.Form[Application.SampleForm])
@import helper._
@main("Sample Page") {

    <h1>セッションの値とクッキーの値を入力する</h1>
    
    @form(action = routes.Application.send){
		@(inputText (
			field = form1("sessionInput"),
			args = 'size->30,
			'_label -> "セッションに入れる値",
			'_help -> "セッションに入れる値を入力してください"
		))
		@(inputText (
			field = form1("cookieInput"),
			args = 'size->30,
			'_label -> "cookie(myName)に入れる値",
			'_help -> "cookie(myName)に入れる値を入力してください"
		))
		
    	@(checkbox (
    		field = form1("sendMail"),
			'_label -> "お知らせメールを送りますか",
			'_help -> "お知らせメールを受ける場合はチェックしてください。"
    	
    	))
		<input type="submit">
	}

    <h3>セッションの値</h3>
    <p>セッションの値：@sessionText</p>
    
    <h3>クッキーの値</h3>
    <p>cookieの名前：@cookieName</p>
    <p>cookieの値：@cookieValue</p>
    <p>※cookieは30秒で切れます</p>
    <p>※discardCookieと入力するとcookieが削除されます</p>

    <h3>お知らせメールを受け取る</h3>
    <p>セッションの値：@sendMail</p>
	
}


