@(message: String, messages : List[Message])

@showMsg(c:String, s : Object) = {
	<td class=@c>@s</td>	
}
@main("Sample Page") {

    <h1>Hello!</h1>
    <p>@message</p>

	<table>
		<tr>
			<th>id</th>
			<th>Name</th>
			<th>Message</th>
		</tr>
		@for(msg <- messages){
			<tr>
			@if(msg.id % 2 == 0){
				@showMsg("a",msg.id)
				@showMsg("a",msg.name)
				@showMsg("a",msg.message)

			} else {
				@showMsg("b",msg.id)
				@showMsg("b",msg.name)
				@showMsg("b",msg.message)
			}
			</tr>
		}
		
	</table>
}
